@import "../../App.scss";
#root{
  padding: 1rem 10px 16px;
}
.index-page{
  @include base-color();
  margin-top: .25rem;
  background: #ffffff;
  padding: 0 16px 16px;
  padding-bottom: calc(12px+ constant(safe-area-inset-bottom));//兼容 IOS<11.2
  padding-bottom: calc(12px + env(safe-area-inset-bottom));
}
.split{
  width: 100%;
  height: 2px;
  opacity: 0.4;
  background: #d8d8d8;
}
.page-top{
  height: .98rem;
  line-height: .98rem;
}
.type-slect{
  margin-top: .5rem;
  display: flex;
  height: .34rem;
  font-size: .24rem;
  font-weight: 500;
  text-align: center;
  color: rgba(47,51,56,0.60);
  line-height: .34rem;
  .type-item{
    width: 1.22rem;
  }
  .type-slected{
    color: #ffffff;
    background: #b34f4f;
    border-radius: 4px;
  }
}
.rate-bar{
  display: flex;
  margin-bottom: .32rem;
  font-size: .24rem;
  color: #8f8f91;
  line-height: .40rem;
  padding-left: .28rem;
  align-items: center;
  .rate-chart{
    width: 3.13rem;
    height: 4px;
    opacity: 0.62;
    background: #d8d8d8;
    border-radius: 2px;
  }
  .rate-desc,.rate-data{
    flex: 1;
  }
}
.section-tilte{
  font-size: 17px;
  font-weight: 500;
  color: #2f3338;
}
.section-time{
  font-size: .24rem;
  font-weight: 500;
  line-height: .34rem;
  color: rgba(47,51,56,0.35);
}
.section-content{
  @include base-color();
  @include base-background();
  border-radius: 10px;
  
}
.sum-content{
  display: flex;
  font-size: 20px;
  padding: .5rem 0;
  color: #2F3338;
  padding-left: .28rem;
  .num-item{
    .sub-title{
      color: #8f8f91;
      font-size: .28rem;
    }
    .num{
      height: .8rem;
      font-weight: 700;
      line-height: .8rem;
    }
    .unit{
      font-size: 12px;
      margin-left: 4px;
      color: #8f8f91;
      font-weight: 400;
    }
    .progress-bar{
      width: 1.38rem;
      height: 4px;
      opacity: 0.62;
      background: #d8d8d8;
      .real-bar{
        height: 4px;
        background: #6495fa;
      }
    }
  }
  .num-normal{
    margin-left: .42rem;
    .num{
      font-size: .24rem;
      color: #DF3031;
      padding-left: 19px;
      position: relative;
      font-weight: 400;
      &::after{
        content: ' ';
        width: .28rem;
        height: .28rem;
        position: absolute;
        right: -9px;
        top: .28rem;
        background-image: url('../../assets/up.png');
        background-size: 100%;
      }
    }
  }
}
.chart{
  padding-top: .44rem;
  height: 7.6rem;
}
.month-pie-chart{
  padding-top: 0;
  height: 5.2rem;
}
.month-bar-chart{
  height: 5rem;
  margin-top: .36rem;
}
.chart-title{
  font-size: .24rem;
  font-weight: 500;
  color: #2f3338;
  line-height: .34rem;
}
.button{
  height: .84rem;
  background: #5b8ff9;
  border-radius: 2px;
  line-height: .84rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}
.display-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow{
  position: relative;
  &::after{
    position: absolute;
    right: -20px;
    top: 20%;
    content: ' ';
    width: 8px;
    height: 8px;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    transform: rotate(135deg);
  }
}
.arrow.open::after{
  transform: rotate(-45deg);
  top: 40%;
}