:global .top-bar{
  overflow-x: scroll;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  padding:0 .2rem;
  align-items: center;
  z-index: 999;
  &:after{
    content: ' ';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #DEDFE1;
    transform:scaleY(0.5);
  }
  .tab-item{
    position: relative;
    height: 1rem;
    line-height: 1rem;
    // min-width: 1.5rem;
    margin-right: .32rem;
    text-align: center;
  }
  .selected{
    border-bottom: 3px solid #6C1E1E;
    z-index: 9;
    font-weight: bolder;
  }
}